<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903846365513-u0h4okjgv71for1qhseumnojairc32oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903846365513-u0h4okjgv71for1qhseumnojairc32oc</string>
	<key>API_KEY</key>
	<string>AIzaSyCEt_-hDmDBWyP0wUWcAYSXQIVl3o0cxPE</string>
	<key>GCM_SENDER_ID</key>
	<string>903846365513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>layla.MyDreemTrip</string>
	<key>PROJECT_ID</key>
	<string>mydreemtrip</string>
	<key>STORAGE_BUCKET</key>
	<string>mydreemtrip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903846365513:ios:3c4764c3e2807fead9f298</string>
</dict>
</plist>